/* Place your CSS styles in this file */

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family:'Poppins',sans-serif;
}

body {
   	margin:0;
    	background-image: url("background.jpeg");
    	background-size: cover;
    	background-position: center;
    	background-repeat: no-repeat;
    	min-height:100vh;
	cursor: url("strawberry.png") 16 16, auto;

}


.header{
	width: 100%;
	height: 80px;
	display: block;
	background-color: maroon;
}

.inner_header{
	width: 1000px;
	height: 100%;
	display: block;
	margin: 0 auto;
	background-color: maroon;
}

.logo_png{
	height: 100%;
	display: table;
	float: left;
}

.logo_png img{
    	width: 70px;   
    	height: 70px;
    	margin-right: 15px;
}

.logo_png h1{
	color: white;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: "Times New Roman";
	font-size: 32px;
	font-weight: 200;
}

.logo_png h1{
	font-weight: 800;
}

.navigation{
	float: right;
	height: 100px;
	display: flex;
	align-items: center;
	list-style: none;
}

.navigation li{
	margin-left: 20px;
}

.navigation li a href{
	cursor: pointer;
	text-decoration: none;
	font-size: 25px;
}

h1 {
    text-align: left;
    font-family: "Source Times Ne", 'Times New Roman', Times, serif;
    font-weight: bold ;
    color: white;
}

img {
     width: 200px;       
     height: 200px;
}      

UL {
	list-style-type:none;
	color:cornsilk;
}

Li {display:inline;}

body{
    cursor: url("strawberry.png") 16 16, auto;
}

pre {
    color: #FFFFFF;
    font-size: 24px;
    font-family: Times New Roman;
}

.container-deskripsi{
    background-color: white;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid maroon;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.container-deskripsi pre{
    white-space: pre-wrap;
    color: black;
}

 button{
        border:none;
        padding:12px 25px;
        border-radius:30px;
        cursor:pointer;
        color:white;
        font-weight:bold;
        background-color: maroon;
}


h2 {
    text-align: center;
    font-family: "Source Times Ne", 'Times New Roman', Times, serif;
    font-weight: bold ;
    color:darkred ;
}

@media (max-width: 600px){
.container{
	width: 90%
	margin: 20px auto;
	padding: 30px;
	text-size: 10px
}


	